.partners__item:last-child{
    margin-bottom: 0px;
}.main{

    margin: 0 auto;
    position: relative;
}

.main__content{
    flex: 1;
    margin-left: 23px;
}
.banner{
    margin-top: 13px;
    margin-bottom: 3px;
}

.title{
    color: #262424;
    font-size: 49px;
    font-weight: 700;
    margin-top: -6px;
}
.tariffs__item{

    text-align: center;
    padding: 23px 0px 30px 0px;
    border: 1px solid #e8e8ec;
    margin-top: 26px;
    display: block;
}


.tariffs__icon{
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #5972b1;
    position: relative;
    display: inline-block;
    margin-bottom: 29px;
}
.tariffs__picture{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tariffs__subtitle{
    font-size: 11px;
    letter-spacing: 2.88px;
    color: #262626;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.tariffs__top{
    color: #262424;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 29px;
}
.tariffs__content{
    font-size: 18px;
    color: #262424;
    font-weight: 300;
    width: 188px;
    display: inline-block;
}
.tariffs__description{
    line-height: 30px;
    margin-bottom: 11px;
}
.tariffs__text{
    margin-bottom: 5px;
    text-align: left;
}
.tariffs__content-list{
    text-align: left;
    padding: 0;

}
.tariffs__content-item{
    margin-bottom: 4px;
    letter-spacing: -0.18px;
    list-style: none;
}
.tariffs__content-item:before{
    content: '';
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: black;
    vertical-align: middle;
    margin-right: 19px;
}
.tariffs__content-item:last-child{
    margin-bottom: 0px;
}
.tariffs__price-currency, .tariffs__price-value{
    display: inline-block;
    color: #262626;
    font-weight: 400;
    letter-spacing: -1.07px;
    font-size: 33px;
}
.tariffs__price-value{
    display: inline-block;
    color: #262626;
    font-weight: 400;
    letter-spacing: -1.07px;
    font-size: 54px;
    margin-left: -4px;
}
.news__title{
    letter-spacing: -0.2px;
    margin-bottom: 38px;
}
.content-list__item{
    display: flex;
    margin-bottom: 33px;
    border-bottom: 2px solid #F4F4F4;
    padding-bottom: 7px;
}
.content-list__item:last-child{
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}
.news .content-list__item{
    width: 31%;
    margin-right: 27px;
    margin-bottom: 0px;
    display: block;
    border: none;
}
.news .content-list__item:last-child{
    margin-right: 0;
}
.content-list__icon{
    height: 171px;
    width: 171px;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
}
.news .content-list__icon{
    height: 160px;
    width: 160px;
}
.news .content-list__icon{
    margin-left: 60px;
    margin-bottom: 47px;
}
.content-list__icon-picture{
	height: 100%;
  	width: 100%;
  	object-fit: cover;
}
.content-list__description{
    flex: 1;
    vertical-align: top;
    margin-left: 22px;
    margin-bottom: 10px;
    color: #262424;
}
.news .content-list__description{
    margin-left: 1px;
}
.news__list{
    list-style-type: none;
    display: flex;

}
.content-list__date{
    color: #656464;
    font-weight: 300;
    margin-bottom: 3px;
}
.content-list__title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}
.content-list__text{
    font-weight: 300;
    font-size: 18px;
    line-height: 29.9px;
}
.news .content-list__text{
    font-size: 14px;
    line-height: 21px;
}
.news__content{
    margin-bottom:27px;
}
.reviews__title{
    margin-bottom: 40px;
    margin-top: 17px;
}
.reviews__list{
    margin-left: 4px;
}

.reviews__list .content-list__item{
    margin-bottom: 22px;
    padding-bottom: 22px;
}
.reviews__list .content-list__item-unusual{
    padding-bottom: 18px;
}

.reviews__content{
    margin-bottom: -2px;
}

.cta{
    background-color: #5972b1;
    background-image: url("../img/main/cta/pattern.png");
    text-align: center;
    margin-top: 30px;

}

.cta__text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding:  22px 7px 24px 12px;
    margin: 0 auto;
    line-height: 30px;
}
.cta__cite{
    text-decoration: underline;
    font-weight: 700;
    color: #ffffff;
}
.cta__tel{
    font-weight: 700;
    color: #ffffff;
}

.team__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -26px;
    margin-bottom: 36px;

}

.team__item{
    width: 272px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 43px;
}
.tariffs__item-center{
    border-radius: 5px;
    border: 1px solid #e8e8ec;
}

.team__title{
    margin-top: 33px;
}

.team__picture{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.team__profile:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5972b1;
    opacity: .6;
}

.team__name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 21px;
}
.team__profile{
    margin: 0 auto;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 4px solid #637bb6;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
}

.team__description{
    color: #262424;
    font-weight: 300;
    line-height: 21px;
}
.team__subtitle{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
}

.team__position{
    color: #5972b1;
    font-weight: 700;
    margin-bottom: 6px;
}
.team__text{
    font-weight: 300;
}

.partners{
    margin-bottom: 37px;
    border: 1px solid #e8e8ec;
    margin-top: 25px;
}
.partners__content{
    text-align: center;
    
}
.partners__subtitle{
    color: #262424;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 26px;
    margin-bottom: 7px;
}
.partners__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: -13px;
    justify-content: center;

}

.partners__item{
    margin-bottom: 7px;
}
.partners__item:last-child{
    margin-bottom: 0px;
}

.partners__link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 63px 25px 62px;
}

.partners__logo{
    max-width: 100%;
    width: auto;
    filter: grayscale(1);
}
.partners__title{
    margin-bottom: 16px;
}
.partners__link:hover .partners__logo{
    filter: grayscale(0);
}
