@import url("./css/normalize.css");
@import url("./css/base.css");

@import url("./css/header.css");
@import url("./css/main__menu.css");
@import url("./css/content.css");
@import url("./css/pagination.css");
@import url("./css/footer.css");
@import url("./css/breadcrumbs.css");
@import url("./css/form.css")